<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/aboutusStyles.css">
    <title>JAC Enterprises</title>
</head>
<body>
<header>
    <div class="wrapper">
        <h1>JAC Enterprises<span class="color">.</span></h1>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="birdWatching.html">Bird Watching</a></li>
                <li><a href="#scavengerHunt">Scavenger Hunt</a></li>
                <li><a href="#bookNow">Book Now</a></li>
            </ul>
        </nav>
    </div>
</header>
<div id="hero-image">
    <div class="wrapper">
        <h2><strong>Developers</strong><br/>
            Meet the Team </h2>
        <a href="#" class="button-1">READY TO WORK</a>
    </div>
</div>
<div id="cta">
    <div class="developers" id="developers">
        <h3>Meet the Team</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod leo a nibh dignissim tincidunt. Nam ultricies odio ac neque suscipit volutpat. Ut dictum adipiscing felis sed malesuada. Integer porta sem nec nibh hendrerit imperdiet. </p>
    </div>
</div>
<div id="features">
    <div class="wrapper">
        <ul>
            <li class="feature-1">
                <img src="/src/main/resources/static/Images/BioPics/steph_bio_pic.jpg" alt="" />
                <h4>Sthepanie</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
                <a href="#" class="button-1">LinkedIn</a>
            </li>
            <li class="feature-2">
                <img src="/src/main/resources/static/Images/BioPics/sade_bio_pic.jpg" alt="" />
                <h4>Sade</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
                <a href="#" class="button-1">LinkedIn</a>
            </li>
            <li class="feature-3">
                <img src="/src/main/resources/static/Images/BioPics/gail_bio_pic.jpg" alt="" />
                <h4>Gail</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
                <a href="#" class="button-1">LinkedIn</a>
            </li>
            <li class="feature-4">
                <img src="/src/main/resources/static/Images/BioPics/zach_bio_pic.jpg" alt="" />
                <h4>Zach</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
                <a href="#" class="button-1">LinkedIn</a>
            </li>
            <li class="feature-5">
                <img src="/src/main/resources/static/Images/BioPics/sam_bio_pic.jpg" alt="" />
                <h4>Sam</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
                <a href="#" class="button-1">LinkedIn</a>
            </li>
            <li class="feature-6">
                <img src="/src/main/resources/static/Images/BioPics/roger_bio_pic.jpg" alt="" />
                <h4>Roge</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
                <a href="#" class="button-1">LinkedIn</a>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>
<footer>
    <div class="wrapper">
        <div id="footer-info">
            <p>Copyright 2022 JAC Enterprises.</p>
            <p><a href="#">All rights reserved.</a> </p>
        </div>
        <div id="footer-links">
            <ul>
                <li><h5>JAC Enterprises</h5></li>
                <li><a href="developers.html">Developers</a></li>
            </ul>
            <ul>
                <li><h5>Follow Us</h5></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">TikTok</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</footer>
</body>
</html>