<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/developersStyles.css">
    <title>About Birdwatching</title>
</head>
<body>
<header>
    <div class="wrapper">
        <h1>JAC Enterprises<span class="color">.</span></h1>
        <nav>
            <ul>
                <li><a href="../">Home</a></li>
                <li><a href="../developers/">Developers</a></li>
                <div class="dropdown"><button class="dropbtn">BirdWatching<i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <li><a href="../birdwatching/">Intro To BirdWatching</a></li>
                        <li><a href="#">BirdWatching In SouthAmerica</a></li>
                        <li><a href="../birds/">The Birds</a></li>
                        <li><a href="../countries/">Countries To Explore</a></li>
                        <li><a href="../regions/">Regions In Our Package</a></li>
                        <li><a href="../habitats/">Habitats To Experience</a></li>
                        <li><a href="../packages/">Packages</a></li>
                    </div>
                </div>
                <li><a href="../requestInfo">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>
<div id="hero-image">
    <div class="wrapper">
        <h2><strong>A Lifetime Experience</strong><br/>
            welcome to South America </h2>
        <a href="#" class="button-1">Book a Trip now</a>
    </div>
</div>
<div id="primary-content">
    <div class="wrapper">
        <article>
            <h3>Bird Watching</h3>
            <p class="about__bird_watching">
                At JAC Enterprises we strive to offer unique and breathtaking experiences. Bird watching is our newest
                endeavor. Birding is a more accurate name for what we offer because you will be using more senses than just
                your sight. You will be immersed in the world of the birds, not only seeing the birds but listening to them,
                and experiencing their habitat.
                <br>
                <br>Birding was started as a conservation effort to counteract a decline in the bird population due to the
                use of  feathers in the fashion industry. Birding has developed into a tourist industry that contributes
                millions to the economy. Today birders can use technology, like cameras, telescopes, binoculars and trail
                cameras to enhance their experience.
                <br>
                <br>There are many types of birders. The casual nature lover gets excited when they see a bird and can
                identify it by name. The collector has  lifetime list and is a little more organized with their birding.
                Specialists focus on one type of bird, for example raptors or flightless birds. The photographer is
                documenting their journey with pictures. No matter what kind of birder you are we have a package that will
                leave you flying high!
            </p>
            <a href="#"><img src="images/BirdWatchingPhoto.jpg" alt="video placeholder" /></a>
        </article>
    </div>
</div>

<div id="cta">
    <div class="wrapper" id="bookNow">
        <h3>Ready to book a trip?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod leo a nibh dignissim tincidunt. Nam u
            ltricies odio ac neque suscipit volutpat. Ut dictum adipiscing felis sed malesuada. Integer porta sem nec
            nibh hendrerit imperdiet. </p>
        <a href="#" class="button-2">Get Started</a>

    </div>
</div>
<footer>
    <div class="wrapper">
        <div id="footer-info">
            <p>WCCI Group Project 1</p>
            <p><a href="#">All rights reserved</a> I <a href="#">2022</a></p>
        </div>
        <div id="footer-links">
            <ul>
                <li><h5>Explore</h5></li>
                <li><a href="../birds/">The Birds</a></li>
                <li><a href="../countries/">Countries To Explore</a></li>
                <li><a href="../regions/">Regions In Our Package</a></li>
                <li><a href="../habitats/">Habitats To Experience</a></li>
                <li><a href="../packages/">Packages</a></li>
            </ul>
            <ul>
                <li><h5>Social</h5></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>

            </ul>

        </div>
        <div class="clear"></div>
    </div>
</footer>

</body>

</html>