<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bird</title>
    <link rel="stylesheet" href="../styles/bwStyles.css">
</head>
<body>
<header>
    <nav class="navbar">
        <h1>Regions</h1>
        <a href="/">Home</a>
        <a href="#aboutUs.html">Developers</a>
        <div class="dropdown">
            <button class="dropbtn">BirdWatching</button>
            <div class="dropdown_content">
                <a href="#">IntroToBirdWatching</a>
                <a href="#">BirdWatchingInSouthAmerica</a>
                <a href="#">CountriesToExplore</a>
                <a href="#">RegionsInOurPackage</a>
                <a href="#">HabitatsToExperience</a>
                <a href="#">Packages</a>
            </div>
            <a href="#">ContactUs</a>
        </div>
    </nav>
</header>
<div id="hero-image">
    <div class="wrapper">
        <h2><strong>List Of Birds</strong><br/></h2>
    </div>
</div>
<article  class="mission__habitat_wrapper">
    <h1 th:text="${bird.name}">Bird Name</h1>

    <figure class="image__wrapper">
        <!-- Add Thymeleaf For Chosen Habitat Image -->
        <img class= "habitat__photo" th:src="${bird.imageUrl}" alt="bird Photo">
    </figure>
    <figure class="mission__wrapper">
        <p class="mission">
            We take pride if making sure you understand as much as possible about the individual birds, and the physical
            attributes of the birds you will see in your excursion. It is also helpful to know a little bit about bird
            taxonomy before your trip. Here is some info and a photo of the bird you selected We have also provided a list
            of the birds by order on this page!
        </p>
    </figure>
</article>

<section class="bird-list">
    <h2 class="bird-list__heading">Here Is Some Information About The Bird (use thymeleaf)</h2>
    <ul class="list__of_birds">
        <li class="bird__list_item" th:text="${bird.name}">Bird Name
        </li>
        <li class="bird__list_item" th:text="${bird.description}">Bird Description

        </li>
        <li class="bird__list_item" th:text="${bird.birdOrder}">Bird Order
        </li>
        <li class="bird__list_item" th:text="${bird.country.location}">Bird Country
        </li>
        <li class="bird__list_item" th:text="${bird.region.regionName}">Bird Region
        </li>
        <li class="bird__list_item" th:text="${bird.habitat.name}">Bird Habitat
        </li>
    </ul>
</section>
<footer class="footer">
    <section id="contactUs">
        <h2 class="contact__us_header">Contact Us</h2>
        <ul>
            <li>Email: team1@jacenterprises.com</li>
            <li>Contact Number: (555)-BIRDING (247-3464)</li>
        </ul>
    </section>
    <small>&copy Team 1 @ WCCI 2022</small>
</footer>
</body>
</html>