<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bird</title>
    <link rel="stylesheet" href="static/styles/BirdStyles.css">
</head>
<body>
    <header>
        <div class="wrapper">
        <h1>Bird Name (use thymeleaf)</h1>
        <nav>
            <ul>
                <li>
                    <a href="src\main\resources\static\home.html">Home</a>
                </li>
                <li>
                    <a href="aboutUs.html">About Us</a>
                </li>
                <li>
                    <a href="#contactUs">Contact us</a>
                </li>
                <li>
                    <a href="#">Scavenger Hunt</a>
                </li>
            </ul>
        </nav>
    </header>
<article class="mission__habitat_wrapper">
    <figure class="image__wrapper">
        <!-- Add Thymeleaf For Chosen Habitat Image -->
        <img class= "habitat__photo" src="\src\main\resources\static\Images\cloud_forest_peruvian_wren.jpg" alt="Habitat Photo">
    </figure>
    <figure class="mission__wrapper">
    <p class="mission">
        We take pride if making sure you understand as much as possible about the individual birds, and the physical
        attributes of the birds you will see in your excursion. It is also helpful to know a little bit about bird
        taxonomy before your trip. Here is some info and a photo of the bird you selected We have also provided a list
        of the birds by order on this page!
    </p>
    </figure>
</article>
<section class="bird-list">
    <h2 class="bird-list__heading">Here Is Some Information About The Bird (use thymeleaf)</h2>
    <ul class="list__of_birds">
        <li class="bird__list_item">
            <p>Name</p>
        </li>
        <li class="bird__list_item">
            <p>Description</p>
        </li>
        <li class="bird__list_item">
            <p>Order</p>
        </li>
        <li class="bird__list_item">
            <p>Country</p>
        </li>
        <li class="bird__list_item">
            <p>Region</p>
        </li>
        <li class="bird__list_item">
            <p>Habitat</p>
        </li>
    </ul>
</div>
</section>
<div class="orders">
<section class="birds" id="birds__list">
    <h2 class="bird__list_title">Charadriiformes </h2>
    <h3 class="bird__list_click">Click To View Bird</h3>
    <!-- Add Thymeleaf to populate list of birds in this habitat -->
    <ul class="list__of_birds">
        <li class="bird__list_item">
            <a href="#">First Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Second Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Third Bird In List With Link</a>
        </li>
    
    </ul>
</section>
<section class="birds" id="birds__list">
    <h2 class="bird__list_title">Pelecaniformes </h2>
    <h3 class="bird__list_click">Click To View Bird</h3>
    <!-- Add Thymeleaf to populate list of birds in this habitat -->
    <ul class="list__of_birds">
        <li class="bird__list_item">
            <a href="#">First Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Second Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Third Bird In List With Link</a>
        </li>
    
    </ul>
</section>
<section class="birds" id="birds__list">
    <h2 class="bird__list_title">Sphenisciformes </h2>
    <h3 class="bird__list_click">Click To View Bird</h3>
    <!-- Add Thymeleaf to populate list of birds in this habitat -->
    <ul class="list__of_birds">
        <li class="bird__list_item">
            <a href="#">First Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Second Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Third Bird In List With Link</a>
        </li>
    
    </ul>
</section>
<section class="birds" id="birds__list">
    <h2 class="bird__list_title">Passeriformes </h2>
    <h3 class="bird__list_click">Click To View Bird</h3>
    <!-- Add Thymeleaf to populate list of birds in this habitat -->
    <ul class="list__of_birds">
        <li class="bird__list_item">
            <a href="#">First Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Second Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Third Bird In List With Link</a>
        </li>
    
    </ul>
</section>
<section class="birds" id="birds__list">
    <h2 class="bird__list_title">Phoenicopteriformes </h2>
    <h3 class="bird__list_click">Click To View Bird</h3>
    <!-- Add Thymeleaf to populate list of birds in this habitat -->
    <ul class="list__of_birds">
        <li class="bird__list_item">
            <a href="#">First Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Second Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Third Bird In List With Link</a>
        </li>
    
    </ul>
</section>
<section class="birds" id="birds__list">
    <h2 class="bird__list_title">Suliformes </h2>
    <h3 class="bird__list_click">Click To View Bird</h3>
    <!-- Add Thymeleaf to populate list of birds in this habitat -->
    <ul class="list__of_birds">
        <li class="bird__list_item">
            <a href="#">First Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Second Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Third Bird In List With Link</a>
        </li>
    
    </ul>
</section>
<section class="birds" id="birds__list">
    <h2 class="bird__list_title">Falconiformes </h2>
    <h3 class="bird__list_click">Click To View Bird</h3>
    <!-- Add Thymeleaf to populate list of birds in this habitat -->
    <ul class="list__of_birds">
        <li class="bird__list_item">
            <a href="#">First Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Second Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Third Bird In List With Link</a>
        </li>
    
    </ul>
</section>
<section class="birds" id="birds__list">
    <h2 class="bird__list_title">Opisthocomiformes </h2>
    <h3 class="bird__list_click">Click To View Bird</h3>
    <!-- Add Thymeleaf to populate list of birds in this habitat -->
    <ul class="list__of_birds">
        <li class="bird__list_item">
            <a href="#">First Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Second Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Third Bird In List With Link</a>
        </li>
    
    </ul>
</section>
<section class="birds" id="birds__list">
    <h2 class="bird__list_title">Psittaciformes </h2>
    <h3 class="bird__list_click">Click To View Bird</h3>
    <!-- Add Thymeleaf to populate list of birds in this habitat -->
    <ul class="list__of_birds">
        <li class="bird__list_item">
            <a href="#">First Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Second Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Third Bird In List With Link</a>
        </li>
    
    </ul>
</section>
<section class="birds" id="birds__list">
    <h2 class="bird__list_title">Piciformes </h2>
    <h3 class="bird__list_click">Click To View Bird</h3>
    <!-- Add Thymeleaf to populate list of birds in this habitat -->
    <ul class="list__of_birds">
        <li class="bird__list_item">
            <a href="#">First Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Second Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Third Bird In List With Link</a>
        </li>
    
    </ul>
</section>
</div>
<footer class="footer">
    <section id="contactUs">
        <h2 class="contact__us_header">Contact Us</h2>
        <ul>
            <li>Email: team1@jacenterprises.com</li>
            <li>Contact Number: (555)-BIRDING (247-3464)</li>
        </ul>
    </section>
    <small>&copy Team 1 @ WCCI 2022</small>
</footer>
</footer>
</body>
</html>