<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bird Watching by Country</title>
</head>
<body>
<header>
    <h1>Birds by Country</h1>
    <span>Here is the list of birds by Country</span>
</header>
<main>
    <section class="country">
        <h2>Peru</h2>
        <p>
            //Summary of Peru
            //Why Peru is a great destination for bird watching
            //w/o getting specific about habitats.
        </p>
        <h3>Click below for information about the habitat in Peru</h3>
        <ul>
            <li>
                //include thymeleaf /th:each for Peru habitat
            </li>
        </ul>
    </section>
    <section class="country">
        <h2>Ecuador</h2>
        <p>
            //Summary of Ecuador
            //Why Ecuador is a great destination for bird watching
        </p>
        <h3>Click below for information about the habitat in Ecuador</h3>
        <ul>
            <li>
                //include thymeleaf /th:each for Ecuador habitat
            </li>
        </ul>
    </section>

</main>
<nav>
    <a href="/">Home</a>
</nav>
</body>
</html>