<!DOCTYPE html>
<html lang="en">
//xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Habitat</title>
    <link rel="stylesheet" href="styles/HabitatStyles.css">
</head>
<body>
    <header>
        <div class="wrapper">
        <h1>Habitat</h1>
        <nav>
            <ul>
                <li>
                    <a href="src\main\resources\static\home.html">Home</a>
                </li>
                <li>
                    <a href="aboutUs.html">About Us</a>
                </li>
                <li>
                    <a href="#contactUs">Contact us</a>
                </li>
                <li>
                    <a href="#">Scavenger Hunt</a>
                </li>
            </ul>
        </nav>
    </header>
<article class="mission__habitat_wrapper">
    <figure class="image__wrapper">
        <!-- Add Thymeleaf For Chosen Habitat Image -->
        <img class= "habitat__photo" src="\src\main\resources\static\Images\AndeanCloud.jpg" alt="Habitat Photo">
    </figure>
    <figure class="mission__wrapper">
    <p class="mission">
        Here at Jac's Twitcher's, we pride ourselves on providing the best bird watching experience for our clients.
        We understand that our clients might want to see a certain species or experience the biodiversity of one
        habitat. Please read the page to see if this habitat is where you would like to book your bird watching excursion!
    </p>
    </figure>
</article>
<section class=about__habitat id="habitat__info">
<div class="">
    <h2 class="habitat__info_header">Here Is Some Information About The Habitat</h2>
    <!-- Add Thymeleaf For Chosen Habitat Description -->
    <p class="habitat__description">
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
        atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
        sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis
        est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
        minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus
        autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae
        sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
        voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
    </p>
</div>
</section>
<section class="birds" id="birds__list">
    <h2 class="bird__list_title">Birds You Will Likely See In This Habitat</h2>
    <h3 class="bird__list_click">Click Link Below To View A Photo And Information About The Bird</h3>
    <!-- Add Thymeleaf to populate list of birds in this habitat -->
    <ul class="list__of_birds">
        <li class="bird__list_item">
            <a href="#">First Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Second Bird In List With Link</a>
        </li>
        <li class="bird__list_item">
            <a href="#">Third Bird In List With Link</a>
        </li>
    
    </ul>
</section>
<footer class="footer">
    <section id="contactUs">
        <h2 class="contact__us_header">Contact Us</h2>
        <ul>
            <li>Email: team1@jacenterprises.com</li>
            <li>Contact Number: (555)-BIRDING (247-3464)</li>
        </ul>
    </section>
    <small>&copy Team 1 @ WCCI 2022. All Rights Reserved.</small>
</footer>
</footer>
</body>
</html>