<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Habitat</title>
    <link rel="stylesheet" href="../styles/HabitatStyles.css">
</head>
<body>
<header>

    <div class="wrapper">
            <h1>JAC Enterprises<span class="color">.</span></h1>
        <h1 th:text="${Habitat.name}">Habitat</h1>
            <nav>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="developers.html">Developers</a></li>
                    <div class="dropdown"><button class="dropbtn">BirdWatching<i class="fa fa-caret-down"></i></button>
                        <div class="dropdown-content">
                            <li><a href="birdWatching.html">Intro To BirdWatching</a></li>
                            <li><a href="#deadlink/noTemplate">BirdWatching In SouthAmerica</a></li>
                            <li><a href="countryTemplate.html">Countries To Explore</a></li>
                            <li><a href="regionTemplate.html">Regions In Our Package</a></li>
                            <li><a href="habitatTemplate.html">Habitats To Experience</a></li>
                            <li><a href="packagesTemplate">Packages</a></li>
                        </div>
                    </div>
                    <li><a href="#">Book Now</a></li>
                </ul>
            </nav>
        </div>
</header>
<!--<h1 th:text="${Habitat.name}">Habitat</h1>-->
<article class="mission__habitat_wrapper">
    <figure class="image__wrapper">
        <!-- Add Thymeleaf For Chosen Habitat Image -->
<!--        <img class= "habitat__photo" th:src="${Habitat.imageUrl}" alt="Habitat Photo">-->
    </figure>
    <figure class="mission__wrapper">
        <p class="mission">
            Here at Jac's Twitcher's, we pride ourselves on providing the best bird watching experience for our clients.
            We understand that our clients might want to see a certain species or experience the biodiversity of one
            habitat. Please read the page to see if this habitat is where you would like to book your bird watching excursion!
        </p>
    </figure>
</article>
<section class=about__habitat id="habitat__info">
    <div class="">
        <h2 class="habitat__info_header">Here Is Some Information About The Habitat</h2>
        <!-- Add Thymeleaf For Chosen Habitat Description -->
<!--        <p class="habitat__description" th:text="${Habitat.description}">-->

        </p>
    </div>
</section>
<section class="birds" id="birds__list">
    <h2 class="bird__list_title">Birds You Will Likely See In This Habitat</h2>
    <h3 class="bird__list_click">Click Link Below To View A Photo And Information About The Bird</h3>
    <!-- Add Thymeleaf to populate list of birds in this habitat -->
<!--    <ul th:each="bird : ${Habitat.birds}" class="list__of_birds">-->
<!--        <li> <a th:href="@{'/bird/' + ${bird.id}}" th:text="${bird.name}" class="bird__list_item"></a>-->
<!--        </li>-->
<!--    </ul>-->
</section>
<footer class="footer">
    <section id="contactUs">
        <h2 class="contact__us_header">Contact Us</h2>
        <ul>
            <li>Email: team1@jacenterprises.com</li>
            <li>Contact Number: (555)-BIRDING (247-3464)</li>
        </ul>
    </section>
    <small>&copy Team 1 @ WCCI 2022. All Rights Reserved.</small>

</footer>
</div>
</body>
</html>