<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/developersStyles.css">
    <title>Bird Watching by Country</title>
</head>
<body>
<header>
    <div class="wrapper">
        <h1>JAC Enterprises<span class="color">.</span></h1>
        <nav>
            <ul>
                <li><a href="../">Home</a></li>
                <li><a href="../developers/">Developers</a></li>
                <div class="dropdown"><button class="dropbtn">BirdWatching<i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <li><a href="../birdwatching/">Intro To BirdWatching</a></li>
                        <li><a href="#">BirdWatching In SouthAmerica</a></li>
                        <li><a href="../birds/">The Birds</a></li>
                        <li><a href="../countries/">Countries To Explore</a></li>
                        <li><a href="../regions/">Regions In Our Package</a></li>
                        <li><a href="../habitats/">Habitats To Experience</a></li>
                        <li><a href="../packages/">Packages</a></li>
                    </div>
                </div>
                <li><a href="../requestInfo">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>

<div id="hero-image">
    <div class="wrapper">
        <h2><strong>All Habitats</strong><br/></h2>
        <a href="../requestInfo" class="button-1">READY TO WORK</a>
    </div>
</div>

<div class="main">
    <article th:each="habitat: ${bird}">
        <h1 th:text="${habitat.name}">Habitat Name</h1>
        <figure class="image__wrapper">
            <!-- Add Thymeleaf For Chosen Habitat Image -->
            <img class= "habitat__photo" th:src="${habitat.imageUrl}" alt="habitat Photo">
        </figure>
    </article>
</div>
<div>
    <li th:each="habitat: ${habitats}"><a th:href="@{'/habitat/' + ${habitat.id}}" th:text="${habitat.name}">List of Habitats</a><li>
</div>

<footer>
    <div class="wrapper">
        <div id="footer-info">
            <p>WCCI Group Project 1</p>
            <p><a href="#">All rights reserved</a> I <a href="#">2022</a></p>
        </div>
        <div id="footer-links">
            <ul>
                <li><h5>Explore</h5></li>
                <li><a href="../birds/">The Birds</a></li>
                <li><a href="../countries/">Countries To Explore</a></li>
                <li><a href="../regions/">Regions In Our Package</a></li>
                <li><a href="../habitats/">Habitats To Experience</a></li>
                <li><a href="../packages/">Packages</a></li>
            </ul>
            <ul>
                <li><h5>Social</h5></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>

            </ul>

        </div>
        <div class="clear"></div>
    </div>
</footer>

</body>
</html>