<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/developersStyles.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">    <link rel="stylesheet" href="style.css">

    <title>JAC Enterprises</title>
</head>
<body>
<header>
    <div class="wrapper">
        <h1>JAC Enterprises<span class="color">.</span></h1>
        <nav>
            <ul>
                <li><a href="../">Home</a></li>
                <li><a href="../developers/">Developers</a></li>
                <div class="dropdown"><button class="dropbtn">BirdWatching<i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <li><a href="../birdwatching/">Intro To BirdWatching</a></li>
                        <li><a href="#">BirdWatching In SouthAmerica</a></li>
                        <li><a href="../birds/">The Birds</a></li>
                        <li><a href="../countries/">Countries To Explore</a></li>
                        <li><a href="../regions/">Regions In Our Package</a></li>
                        <li><a href="../habitats/">Habitats To Experience</a></li>
                        <li><a href="../packages/">Packages</a></li>
                    </div>
                </div>
                <li><a href="../requestInfo">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>

<div id="features">
    <div class="wrapper">
        <ul>
            <li class="feature-1">
                <img src="/src\main\resources\static\Images\package_image\packages_night.jpg" />
                <h4>Birds of the Night</h4>
                <p>This exciting tour takes you out to the the high grounds of the Andes. You Night owls will experience the night in new ways as our guide takes you to see the night loving birds of the cloud forest. </p>
                <a href="#" class="button-1">Book now</a>
            </li>
            <li class="feature-2">
                <img src="/src\main\resources\static\Images\package_image\packages_galapagos.jpg">
                <h4>Birds of the Islands</h4>
                <p>This day cruise will  take you first to the breathtaking island of Santa Cruz. you will be able to visit the Charles Darwin Research Station and have the opportunity to explore the Island on your own or with one of our guides.We will then take the trip to the other side of the island where we will visit North Seymour Island

                </p>
                <a href="#" class="button-1">Book now</a>
            </li>
            <li class="feature-3">
                <img src="/src\main\resources\static\Images\package_image\packages_scavenger_hunt.jpg">
                <h4>Birds of the Rainforest</h4>
                <p>Who wants to go on a scavenger hunt? An Exciting live version of a hidden picture puzzle how many birds will you be able to find as we tour through the Rain Forest.

                </p>
                <a href="#" class="button-1">Book now</a>
            </li>
            <li class="feature-4">
                <img src="src\main\resources\static\Images\package_image\collage_kayak_peru.jpg/">
                <h4>Kayak tours</h4>
                <p> We will be taking to the water in this package. This three day package will give you the opportunity to experience the birds from the water. You will have three days to experience three locations. 

                </p>
                <a href="#" class="button-1">Book now</a>
            </li>
            <li class="feature-5">
                <img src="\src\main\resources\static\Images\package_image\packages_bigDay.jpg" alt="" />
                <h4>Your Big Day</h4>
                <p>It may not be the 14th of may but that won’t stop us from getting you your highest number of birds in the year.</p>
                <a href="#" class="button-1">Book now</a>
            </li>
            <li class="feature-6">
                <img src="\src\main\resources\static\Images\package_image\packages_terrainhopper.jpeg" alt="" />
                <h4>Vincit Qui Se Vincit “Terrain Hopper” tour 

                </h4>
                <p>Limited mobility is no roadblock for JAC Enterprises. The “Terrain Hopper” Allows guests with limited mobility to experience the rugged wilderness with customized ATV Wheelchairs. Check to see if we have a style that will fit your needs.

                </p>
                <a href="#" class="button-1">Book now</a>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>
<footer>
    <div class="wrapper">
        <div id="footer-info">
            <p>WCCI Group Project 1</p>
            <p><a href="#">All rights reserved</a> I <a href="#">2022</a></p>
        </div>
        <div id="footer-links">
            <ul>
                <li><h5>Explore</h5></li>
                <li><a href="../birds/">The Birds</a></li>
                <li><a href="../countries/">Countries To Explore</a></li>
                <li><a href="../regions/">Regions In Our Package</a></li>
                <li><a href="../habitats/">Habitats To Experience</a></li>
                <li><a href="../packages/">Packages</a></li>
            </ul>
            <ul>
                <li><h5>Social</h5></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>

            </ul>

        </div>
        <div class="clear"></div>
    </div>
</footer>
</body>
</html>