<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static\styles\styles.css">
    <title>Region</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <h1>Regions</h1>
            <a href="/">Home</a>
            <a href="#aboutUs.html">Developers</a>
            <div class="dropdown">
                <button class="dropbtn">BirdWatching</button>
                <div class="dropdown_content">
                    <a href="#">IntroToBirdWatching</a>
                    <a href="#">BirdWatchingInSouthAmerica</a>
                    <a href="#">CountriesToExplore</a>
                    <a href="#">RegionsInOurPackage</a>
                    <a href="#">HabitatsToExperience</a>
                    <a href="#">Packages</a>
                </div>
                <a href="#">ContactUs</a>
            </div>
        </nav>
    </header>
<article class="mission__habitat_wrapper">
    <figure class="mission__wrapper">
        <p class="mission">
            When choosing a location for your bird watching excursion, region matters! Every region has it's own selection of birds. Please read below to see a description of the region, and the birds that you might see. It's always good to educate yourself before booking a trip.
        </p>
    </figure>
</article>
<section class=about__habitat id="habitat__info">
    <div class="">
        <h2 class="habitat__info_header">Here Is Some Information About The Region</h2>
        <!-- Add Thymeleaf For Chosen Habitat Description -->
        <p class="habitat__description" th:text="${Region.description}">
        </p>
    </div>
</section>
<section class="birds" id="birds__list">
    <h2 class="bird__list_title">Birds You Will Likely See In This Region</h2>
    <h3 class="bird__list_click">Click Link Below To View A Photo And Information About The Bird</h3>
    <!-- Add Thymeleaf to populate list of birds in this habitat -->
    <ul class="list__of_birds" th:each="bird : ${Region.birds}">
        <li> <a th:href="@{'/bird/' + ${bird.id}}" th:text="${bird.name}" class="bird__list_item"></a>
        </li>
    </ul>
</section>
<footer class="footer">
    <div class="wrapper">
        <div id="footer-info">
            <p>Copyright 2022 JAC Enterprises.</p>
            <p><a href="#">All rights reserved.</a> </p>
        </div>
        <div id="footer-links">
            <ul>
                <li><h5>JAC Enterprises</h5></li>
                <li><a href="developers.html">Developers</a></li>
            </ul>
            <ul>
                <li><h5>Follow Us</h5></li>
                <li><a href="#">Facebook</a></li>
                         <li><a href="#">TikTok</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div> Team 1 @ WCCI</small>
</footer>
</body>
</html>