<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Region</title>
    <link rel="stylesheet" href="../styles/HabitatStyles.css">
</head>

<body>
<header>
    <div class="wrapper">

        <nav>
            <ul>
                <li>
                    <a href="src\main\resources\static\home.html">Home</a>
                </li>
                <li>
                    <a href="aboutUs.html">About Us</a>
                </li>
                <li>
                    <a href="#contactUs">Contact us</a>
                </li>
                <li>
                    <a href="#">Scavenger Hunt</a>
                </li>
            </ul>
        </nav>
        </div>
</header>
<h1 th:text="${Region.regionName}">Region</h1>
<article class="mission__habitat_wrapper">
    <figure class="mission__wrapper">
        <p class="mission">
            When choosing a location for your bird watching excursion, region matters! Every region has it's own selection of birds. Please read below to see a description of the region, and the birds that you might see. It's always good to educate yourself before booking a trip.
        </p>
    </figure>
</article>
<section class=about__habitat id="habitat__info">
    <div class="">
        <h2 class="habitat__info_header">Here Is Some Information About The Region</h2>
        <!-- Add Thymeleaf For Chosen Habitat Description -->
        <p class="habitat__description" th:text="${Region.description}">
        </p>
    </div>
</section>
<section class="birds" id="birds__list">
    <h2 class="bird__list_title">Birds You Will Likely See In This Region</h2>
    <h3 class="bird__list_click">Click Link Below To View A Photo And Information About The Bird</h3>
    <!-- Add Thymeleaf to populate list of birds in this habitat -->
    <ul class="list__of_birds" th:each="bird : ${Region.birds}">
        <li> <a th:href="@{'/bird/' + ${bird.id}}" th:text="${bird.name}" class="bird__list_item"></a>
        </li>
    </ul>
</section>
<footer class="footer">
    <section id="contactUs">
        <h2 class="contact__us_header">Contact Us</h2>
        <ul>
            <li>Email: team1@jacenterprises.com</li>
            <li>Contact Number: (555)-BIRDING (247-3464)</li>
        </ul>
    </section>
    <small>&copy Team 1 @ WCCI</small>
</footer>
</body>
</html>