<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/developersStyles.css">
    <title>JAC Enterprises</title>
</head>
<body>
<header>
    <div class="wrapper">
        <h1>JAC Enterprises<span class="color">.</span></h1>
        <nav>
            <ul>
                <li><a href="../">Home</a></li>
                <li><a href="../developers/">Developers</a></li>
                <div class="dropdown"><button class="dropbtn">BirdWatching<i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <li><a href="../birdwatching/">Intro To BirdWatching</a></li>
                        <li><a href="#">BirdWatching In SouthAmerica</a></li>
                        <li><a href="../birds/">The Birds</a></li>
                        <li><a href="../countries/">Countries To Explore</a></li>
                        <li><a href="../regions/">Regions In Our Package</a></li>
                        <li><a href="../habitats/">Habitats To Experience</a></li>
                        <li><a href="../packages/">Packages</a></li>
                    </div>
                </div>
                <li><a href="../requestInfo">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>

<div id="hero-image">
    <div class="wrapper">
        <h2><strong>Contact US </strong><br/>
            NOw</h2>
        <a href="#" class="button-1">Bird Watching</a>
    </div>
</div>
<div>
    <form action="/action_page.php">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value=""><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value=""><br><br>
        <label for="email">email Address:</label><br>
        <input type="text" id="email" name="email" value=""><br><br>
        <label for="txtbox">Please type your request:</label><br>
        <input type="text" id="txtbox" name="txtbox" value=""><br><br>
        <input type="submit" value="Submit">
    </form>
    
</div>
<footer>
    <div class="wrapper">
        <div id="footer-info">
            <p>WCCI Group Project 1</p>
            <p><a href="#">All rights reserved</a> I <a href="#">2022</a></p>
        </div>
        <div id="footer-links">
            <ul>
                <li><h5>Explore</h5></li>
                <li><a href="../birds/">The Birds</a></li>
                <li><a href="../countries/">Countries To Explore</a></li>
                <li><a href="../regions/">Regions In Our Package</a></li>
                <li><a href="../habitats/">Habitats To Experience</a></li>
                <li><a href="../packages/">Packages</a></li>
            </ul>
            <ul>
                <li><h5>Social</h5></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>

            </ul>

        </div>
        <div class="clear"></div>
    </div>
</footer>

</body>

</html>