body {
    background-color: #fff;
    color: #777;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
p {
    line-height: 20px;
    margin-bottom: 20px;
}
h1 {
    font-family: serif;
    font-weight: bold;
    color: rgb(110, 108, 108);
    font-size: 45px;
    margin-bottom: 20px;
}
.color{
    color: #02B8DD;
}
h2 {
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
h3 {
    font-size: 30px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
h4 {
    font-size: 24px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h5 {
    font-size: 15px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: #444;
}
a:hover {
    color: #02B8DD;
}
strong {
    font-weight: bold;
}
small {
    font-size: 13px;
    color: #777;
    font-style: italic;
}
.clear {
    clear: both;
}
.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 940px;
}
header {
    height: 120px;
}
header h1 {
    float: left;
    margin-top: 32px;
}
header h1 .color {
    color: #02B8DD;
}
header nav {
    float: right;

}
header nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    margin-top: 55px;
}
header nav ul li .button{
    display: inline-block;
    margin-top: 50px;
    list-style-type: none;
    overflow: hidden;
}
header nav ul li a {
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-right: 20px;
    float: right;
}
.dropbtn{
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
    font-size: 15px;
    display: inline-block;
    border: none;
    cursor: pointer;
}
.dropdown .dropbtn{
    font-size: 20px;
    border: none;
    outline: none;
    color: #444;
    background-color: inherit;
    font-family: inherit;
    margin-left: 1px;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color:rgb(255, 255, 255);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0, 2);
    z-index: 1;
}
.dropdown:hover .dropbtn{
    color: #02B8DD;
}
.dropdown-content li a {
    color: #777;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    text-align: left;
}
.dropdown-content li a:hover{
    background-color: #fff;
    color: #02B8DD;
}
.dropdown:hover .dropdown-content{
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
}
#hero-image {
    height: 580px;
    padding-top: 1px;
    background: #E8ECED url('https://cdn.pixabay.com/photo/2019/08/16/13/14/condor-4410243_1280.jpg') no-repeat center;
}
#hero-image h2 {
    margin: 180px 0 40px 0;
}
.button-1 {
    display: block;
    text-align: center;
    background: #444;
    border-radius: 3px;
    color: #fff;
    width: 180px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    margin: 0 auto;
}
.button-1:hover {
    background-color: #02B8DD;
    color: #fff;
}
#primary-content {
    background-color: #F8FAFA;
    padding: 60px 0;
    text-align: center;
}
#primary-content h3 {
    display: block;
    margin: 0 auto 20px auto;
    width: 400px;
    border-bottom: 1px solid #02B8DD;
    padding: 0 0 20px 0;
}
#primary-content a img {
    justify-content: center;
    width: 70%;
}
#cta {
    padding: 60px 0;
    text-align: center;
}
#cta h3 {
    display: block;
    margin: 0 auto 20px auto;
    width: 400px;
    border-bottom: 1px solid #02B8DD;
    padding: 0 0 20px 0;
}
.button-2 {
    display: block;
    margin: 0 auto;
    border: 2px solid #02B8DD;
    color: #02B8DD;
    border-radius: 3px;
    width: 180px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
}
.button-2:hover {
    background-color: #02B8DD;
    color: #fff;
}
#features ul {
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: center;
    align-content: space-around;
}
#features ul li {
    width: 300px;
    padding-top: 80px;
    /* float: left; */
    margin-right: 10px;
    text-align: center;
}
#features ul li img {
    height: 230px;
    border-radius: 10px;
}
footer {
    padding: 60px 0;
    background-color: #F8FAFA;
}
#footer-info {
    width: 380px;
    float: left;
    margin-top: 10px;
}
#footer-links {
    width: 520px;
    float: right;
}
#footer-links ul {
    width: 150px;
    float: left;
    margin-left: 20px;
}
#footer-links ul li {
    margin: 10px 0;
}