*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

html{
font-family: 'Times New Roman', Times, serif;
font-size: 16px;

color: black;
}

header {
align-items: center;
background-color: #333333;
color: #ddd;
display: flex;
justify-content: space-between;
margin: 0 auto;
padding: 20px 0;
}

header h1 {
padding-left: 20px;
}

header nav {
padding-right: 20px;

}

header nav ul {
display: flex;
}

header nav ul li {
padding-right: 10px;
text-decoration: none;
list-style-type: none;
}

header nav ul li:last-child {
padding-right: 0;
}

header nav ul li a {
border-radius: 3px;
color: #ddd;
padding: 3px;
text-decoration: none;
}
.contactUs {
color: #675364;
display: flex;
font-size: 150%;
justify-content: center;
padding: 30px;
}
main{
background-image: url("https://th.bing.com/th/id/OIP.pLDfwu4uU7FvnmQDp_e-xAHaE8?pid=ImgDet&rs=1");
background-size: cover;

}

.about__bird_watching{
margin-top: 20px;
margin-bottom: 40px;
margin-left: 40px;
margin-right: 40px;

}

footer{
background-color: #333333;
color: white;
display: flex;
justify-content: flex-end;
padding: 50px;
font-size: 150%;
}

