*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
html{
font-family: 'Times New Roman', Times, serif;
font-size: 16px;
color: black;
}

li{padding-right: 10px;
    text-decoration: none;
    list-style-type: none;}

.wrapper{
    display:flex;
    justify-content: space-between;
    margin-left:20px;
    margin-right:20px;
}

header {
    background-color: #333333;
    color: #ddd;
    padding: 20px 0;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding-right: 10px;
    text-decoration: none;
    list-style-type: none;
}

header nav ul li a {
    border-radius: 3px;
    color: #ddd;
    padding: 3px;
    text-decoration: none;
    list-style-type:none;
}

body{
    background-image: url("https://images.pexels.com/photos/3584309/pexels-photo-3584309.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}
.About__birdwatching_wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    max-height:fit-content;

    
}
.watching{
    max-width:auto;
    max-height:700px;
    margin-top:20px;
    margin-left: 30px;
    border-radius: 10px;
}
.bird__watching_info{
    max-height:700px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    border: solid white 10px;
    background-color: rgb(241, 238, 233);
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    font-size: 22px;
}
.about__bird_watching_title{
    margin-bottom: 50px;

}
footer{
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-size:20px
}